* {
    margin:  0;
    padding: 0;
}

.container {
    box-sizing: border-box;
}

.mainContainer{
    display: column;
    flex-direction: row;
    
}

.subContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* list style */

.name{
    font-weight: bold
}

.date{
    font-style: italic;
}

.genre{
    background-color: rgb(108, 110, 110);
}




